:root{
    /*#373e40 for dark theme */
    /*--c1: #40404F;
    --c2: #f5f9e9;
    --c3: #8d9f87;*/
    --c1: #000000;
    --c2: #ffffff;
    --c3: #D6DBE0;
    --br: 10px; /*Border Radius*/
}

.richi-header, .richi-text, .richi-html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.richi-header{
    gap: 5px;
    border: 1px solid var(--c1);
    padding: 3px 5px;
    padding-bottom: 1px;
    border-radius: var(--br)  var(--br) 0 0;
}

.richi-text, .richi-html {
    border: 1px solid var(--c1);
    border-top: none;
    border-radius: 0 0 var(--br) var(--br);
}

.richi-header > button{
    padding: 2px;
    padding-bottom: 0;
    margin: 0 3px;
    border: 0;
    background-color: var(--c2);
    border-radius: 4px;
}

.richi-header > button:hover{
    background-color: var(--c3);
}

.richi-header > .richi-active{
    background-color: var(--c3);
}

.richi-header > .richi-code{
    float: right;
}

.richi-text {
    height: auto;
    min-height: 100px;
    padding: 5px;
    /*display: inline-block;*/
}

.richi-html {
    width: 100%;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

.richi-html:focus {
    outline: none;
}

.richi-text:focus-visible {
    outline: none;
}