.richi {
    border: 1px solid black;
}

.richi-text {
    height: auto;
    min-height: 100px;
    /*display: inline-block;*/
}

.richi-html {
    width: 100%;
    resize: none;
}

.richi-text:focus-visible {
    outline: none;
}